html, body {
    height: 100%;
    overflow:hidden;
}

html {
    display: table;
    margin: auto;
}

h1 {
    text-align: center;
}

canvas {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
}

textarea {
    resize: none;
    width: 637px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    white-space: pre-wrap;
    font-family: "Consolas", "Ubuntu Mono", "Monaco", monospace;
    color: green;
}
