html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

h1 {
    text-align: center;
}

canvas {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
}


